{% extends 'layout.html' %}
{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title is-1">로그인</h1>
    </div>
</section>

<section class="section">
    <div class="container">
        <form method="post">
            <div class="field">
                <label class="label">이메일</label>
                <div class="control">
                    <input class="input" type="email" name="email">
                </div>
            </div>
            <div class="field">
                <label class="label">비밀번호</label>
                <div class="control">
                    <input class="input" type="password" name="password">
                </div>
            </div>
            <button class="button is-danger is-large is-fullwidth">다음</button>
        </form>
    </div>
</section>
{% endblock %}